.footer--div {
    background: linear-gradient(131deg, rgb(110, 82, 143), #121212);
    text-align: center;
    color: #f7f7f7;
    h3 {
        font-size: 1em;
        margin: 0;
        padding: 1em;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    }
}