main {
    background: linear-gradient(131deg, #ddd, #f0f0f0);

    padding-bottom: 2em;
    text-align: center;
    .searchbox {
        // background: rgb(228, 228, 228);
        padding-bottom: 2em;
    }
    input {
        border: none;
        border-radius: 2rem;
        font-size: 1.5em;
        padding: 2rem;
        width: 73%;
        &.input--shadow {
            box-shadow: 2px 2px 3px 1px #ccc;
        }
        &::placeholder {
            color: lightgrey;
        }
    }
    .btn--search{
        background: none;
        border: none;
        color: white;
        font-size: 2em;
        padding-left: .5em;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
        vertical-align: bottom;
    }
    hr {
        border: 1px solid lightgrey;
        margin-bottom: 0;
    }

    h2 {
        color: white;
        cursor: default;
        font-size: 1.5em;
        padding: 2em 0 2em 0;
        text-shadow: 1px 1px 15px lightslategray, 
               3px 3px 5px lightgrey;
    }

    iframe {
        height: 250px;
        width: 95%;
    }
    textarea {
        border: none;
        border-radius: 2rem;
        box-shadow: 2px 2px 3px 1px #ccc;
        display: inline-block;
        font-size: 1.2em;
        margin-top: 2em;
        max-width: 95%;
        min-width: 95%;
        padding: 2rem;
        resize: none;
    }
    .btn--addnote {
        background: linear-gradient(131deg, rgb(217, 197, 239), rgb(108, 75, 210));
        border: none;
        border-radius: 2rem;
        color: white;
        font-size: 1.2em;
        margin: 1em 0;
        padding: 1em 2em;
        box-shadow: 2px 2px 3px 1px #ccc;
        text-shadow: 2px 2px 8px darken( rgb(65, 0, 145), 5%);
        &:hover {
            background: linear-gradient(131deg, rgb(41, 3, 167), rgb(115, 0, 247));
            color: white;
        }
    }
}



@media (min-width: $desktop-breakpoint) {
    main {
        input {
            width: 45%;
        }
        textarea {
            margin-top: 0;
            height: 300px;
        }
        iframe {
            height: 300px;
        }
    }
}