
nav {
    background: linear-gradient(131deg, rgb(217, 197, 239), rgb(108, 75, 210));
    color: #f7f7f7;
    min-height: 100px;
    text-align: center;
    .wrapper {
        padding: 1em 0;
    }
    .logo {
        background: url("/images/logo.png") no-repeat center;
        background-size: contain;
        height: 80px;
    }
}