.notes {
    background: linear-gradient(131deg, rgb(217, 197, 239), rgb(108, 75, 210));
    min-height: 100px;
    padding: 4em 1em;
    text-align: center;
}

.notes--note {
    background: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 7px 1px darken(rgb(108, 75, 210), 5%);
    font-size: 1.2em;
    margin-top: 1em;
    padding: 1em;
    text-align: left;
}

h2 {
    color: white;
    cursor: default;
    font-size: 1.5em;
    margin: 0;
    padding:0 0 1em 0;
    text-shadow: 2px 2px 8px darken( rgb(65, 0, 145), 10%);
}

p {
    color: white;
    padding-top: 1em;
}


@media (min-width: $desktop-breakpoint) {
    .notes--note {
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;
    }     
}